---
    import Clients from '../components/Clients.astro';
---
<section class="snap-center text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-7 items-center justify-center flex-col">
        <div class="text-center pt-20 lg:w-2/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Acerca de Nosotros</h1>
            <p class="mb-8 leading-relaxed">Somos una agencia de marketing digital especializada en impulsar marcas y empresas en redes sociales mediante campañas publicitarias y producciones audiovisuales de calidad. Nuestro objetivo es generar una sólida presencia en línea que llegue de manera efectiva a la audiencia objetivo, maximizando el impacto y los resultados para nuestros clientes.</p>
        </div>
    </div>
    <Clients />
</section>