<div class='landing-section w-full pt-[20px] pb-[3rem] px-6 bg-white text-black' data-header-color="text-black">
    <div class='max-w-[1240px] mx-auto grid md:grid-cols-3 gap-10'>
        <div class='w-full shadow-xl flex flex-col p-4 my-4 rounded-lg hover:scale-105 duration-500'>
            <img class='w-20 mx-auto mt-[-3rem] bg-white' src="/webD.webp" alt="/" />
            <h2 class='text-2xl font-bold text-center py-8'>Diseño Web</h2>
            <p class='text-center text-3xl font-bold'>De $10,000 A $40,000</p>
            <div class='text-center font-medium'>
                <p class='py-2 border-b mx-8 mt-8'>Landing Pages</p>
                <p class='py-2 border-b mx-8'>Páginas Web</p>
                <p class='py-2 border-b mx-8'>Portafolio Web</p>
            </div>
            <a class='bg-yellow-500 w-[200px] hover:text-yellow-500 hover:bg-black transition-colors duration-500  rounded-md font-medium my-6 mx-auto px-6 py-3 text-center' target="_blank" href="https://api.whatsapp.com/send?phone=528119162937">Más Información</a>
        </div>
        <div class='w-full shadow-xl bg-gray-100 flex flex-col p-4 md:my-0 my-8 rounded-lg hover:scale-105 duration-500'>
            <img class='w-20 mx-auto mt-[-3rem] bg-transparent' src="/podcast.webp" alt="/" />
            <h2 class='text-2xl font-bold text-center py-8'>Podcast</h2>
            <p class='text-center text-3xl font-bold'>De $6,500 a $32,000</p>
            <div class='text-center font-medium'>
                <p class='py-2 border-b mx-8 mt-8'>Básico</p>
                <p class='py-2 border-b mx-8'>Intermedio</p>
                <p class='py-2 border-b mx-8'>Avanzado</p>
                <p class='py-2 border-b mx-8'>Distribución en Spotify y YouTube</p>
            </div>
            <a class='bg-black text-center text-yellow-500 w-[200px] hover:bg-yellow-500 hover:text-black transition-colors duration-500 rounded-md font-medium my-6 mx-auto px-6 py-3' target="_blank" href="https://api.whatsapp.com/send?phone=528119162937">Más Información</a>
        </div>
        <div class='w-full shadow-xl flex flex-col p-4 my-4 rounded-lg hover:scale-105 duration-500'>
            <img class='w-20 mx-auto mt-[-3rem] bg-white' src="/ventas.webp" alt="/" />
            <h2 class='text-2xl font-bold text-center py-8'>Sistema de Ventas</h2>
            <p class='text-center text-3xl font-bold'>De $26,000 a $60,000 </p>
            <div class='text-center font-medium'>
                <p class='py-2 border-b mx-8 mt-8'>CRM</p>
                <p class='py-2 border-b mx-8'>Sales Manager</p>
            </div>
            <a class='bg-yellow-500 w-[200px] hover:text-yellow-500 hover:bg-black transition-colors duration-500 rounded-md font-medium my-6 mx-auto px-6 py-3 text-center' target="_blank" href="https://api.whatsapp.com/send?phone=528119162937">Más Información</a>
        </div>
    </div>
</div>
