<div class='landing-section w-full pt-[15rem] pb-[3rem] px-6 bg-white text-black' data-header-color="text-black">
    <div class='max-w-[1240px] mx-auto grid md:grid-cols-2 gap-10'>
        <div class='w-full shadow-xl flex flex-col p-4 my-4 rounded-lg hover:scale-105 duration-500'>
            <img class='w-20 mx-auto mt-[-3rem] bg-white' src="/film.webp" alt="/" />
            <h2 class='text-2xl font-bold text-center py-8'>Producción Audiovisual</h2>
            <p class='text-center text-4xl font-bold'>De $5,500 A $200,000</p>
            <div class='text-center font-medium'>
                <p class='py-2 border-b mx-8 mt-8'>Grabaciones Comerciales</p>
                <p class='py-2 border-b mx-8'>Grabaciones Inmobiliarias</p>
                <p class='py-2 border-b mx-8'>Grabaciones Industriales</p>
            </div>
            <a class='bg-yellow-500 w-[200px] hover:text-yellow-500 hover:bg-black transition-colors duration-500  rounded-md font-medium my-6 mx-auto px-6 py-3 text-center' target="_blank" href="https://api.whatsapp.com/send?phone=528119162937">Más Información</a>
        </div>
        
        <div class='w-full shadow-xl flex flex-col p-4 my-4 rounded-lg hover:scale-105 duration-500'>
            <img class='w-20 mx-auto mt-[-3rem] bg-white' src="/SM.webp" alt="/" />
            <h2 class='text-2xl font-bold text-center py-8'>Contenido para Redes Sociales</h2>
            <p class='text-center text-4xl font-bold'>De $12,500 A $40,000 </p>
            <div class='text-center font-medium'>
                <p class='py-2 border-b mx-8 mt-8'>Creación de Contenido</p>
                <p class='py-2 border-b mx-8'>Community Manager</p>
                <p class='py-2 border-b mx-8'>Campañas de Marketing Digital</p>
            </div>
            <a class='bg-yellow-500 w-[200px] hover:text-yellow-500 hover:bg-black transition-colors duration-500 rounded-md font-medium my-6 mx-auto px-6 py-3 text-center' target="_blank" href="https://api.whatsapp.com/send?phone=528119162937">Más Información</a>
        </div>
    </div>
</div>