<section class='text-white'>
    <div class='max-w-[800px] mt-[-96px] w-full h-screen mx-auto text-center flex flex-col justify-center z-20'>
        <p class='text-yellow-500 font-bold pd-2 z-30'> PRODUCCIONES AUDIOVISUALES Y MARKETING</p>
        <h1 class='md:text-7xl sm:text-6xl text-4xl font-bold md:py-6 z-30'>SILVERMONT MEDIA</h1>

        <a href="#form" class='z-30 border-[3px] bg-white/5 backdrop-blur-sm border-white w-[200px] hover:text-black hover:bg-yellow-500 hover:border-yellow-500 transition-colors duration-500 rounded-md font-medium my-6 mx-auto py-3 text-black'>
            Empieza Ahora
        </a>
    </div>

    <div class=" absolute top-0 bottom-0 h-full w-full z-[1]">
        <video class="object-center object-cover h-full w-full" autoplay muted loop src="/video.webm"></video>
    </div>
    <div class=" md:hidden absolute top-0 bottom-0 h-full w-full z-[2]">
        <img src="bg.webp" alt="Imagen" class="h-full w-full object-cover object-center">
    </div>
</section>


