<div id="form" class='w-full  text-black px-4 py-14'>
    <div class='max-w-[1240px] mx-auto grid lg:grid-cols-3'>
        <div class='lg:col-span-2 my-4'>
            <h1 class='md:text-4xl sm:text-3xl text-2xl font-bold py-2'>
                Quires conocer nuestras ofertas?
            </h1>
            <p>Registrate aqui para mantenerte al dia</p>
        </div>
        <div class='my-4'>
            <form name="newsletter" method="POST" data-netlify="true" class='flex flex-col sm:flex-row items-center justify-between w-full'>
            <input
                name='correo'
                class='p-3 flex w-full rounded-md text-black bg-white border focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 outline-none transition-colors duration-500 ease-in-out'
                type='email'
                placeholder='Email'
            />
            <button type="submit" class='bg-yellow-500 text-black rounded-md hover:text-yellow-500 hover:bg-black transition-colors duration-500   font-medium w-[200px] ml-4 my-6 px-6 py-3'>
                Registrate
            </button>
            </form>
        </div>
    </div>
</div>